# ======================
# TestNet Configuration
# This project is configured for TestNet only
# ======================

VITE_ENVIRONMENT=testnet

# Algod
VITE_ALGOD_TOKEN=""
VITE_ALGOD_SERVER="https://testnet-api.algonode.cloud"
VITE_ALGOD_PORT=""
VITE_ALGOD_NETWORK="testnet"

# Indexer
VITE_INDEXER_TOKEN=""
VITE_INDEXER_SERVER="https://testnet-idx.algonode.cloud"
VITE_INDEXER_PORT=""

# App Configuration
# Update these values after deploying your contract
VITE_APP_ID=748853489
VITE_APP_ADDRESS="2EZATCTZLD3UQT35YUMZ57GDMZUGWMS24EHEGJ2BFAWZP2U26ZMTXGJUW4"
VITE_APP_ADMIN="6E245BTHAHMBX6NCGEH2FE7MPPD7HB5AYNXNTHADTCE6RW46MEN7YNTZCI"
